.bg-deep-blue{
    background-color: #264653;
}

.bg-light-blue{
    background-color: rgba(87,151,178,0.35);
}

.bg-dark-blue{
    background-color: #5797B2;
}

.bg-contrast-blue{
    background-color: rgba(40,69,81,0.35);
}

.bg-contrast-white{
    background-color: rgba(255,255,255,0.45);
}

.bg-green{
    background-color: #2A9D8F;
}

.bg-green-sessions{
    background-color: rgba(42,157,143,0.6);
}

.bg-blue-sessions{
    background-color: rgba(87,151,178,0.8);
}

body{
    /* prevent the navbar to overlap the content */
    min-height: 75rem;
    padding-top: 4.5rem;
}

/*** Side-menu panel ***/

.navbar-collapse.collapse.show {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 55vw;
    z-index: 2000;
}

.navbar-collapse.collapsing {
    background-color: white;
    position: fixed;
    top: 0;
    left: -55vw;
    height: 100vh;
    width: 55vw;
    z-index: 2000;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

.navbar-collapse.collapse {
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

/*** Side-menu links ***/

.navbar-dark .navbar-collapse.collapse.show .navbar-nav a.nav-link {
    color: #404040;
}

.navbar-dark .navbar-collapse.collapse.show .navbar-nav li.active{
    background-color: rgba(196, 196, 196, 0.45);
    border-radius: 4px;
}

.navbar-dark .navbar-collapse.collapse.show .navbar-nav li{
    margin: 1rem 1rem 0 1rem ;
}


.navbar-dark .navbar-collapse.collapse.show .navbar-nav li.active a.nav-link{
    color: #404040;
}

.navbar-collapse.show h2{
    display: block;
    font-weight: bold;
    margin: 1rem 0 2rem 1rem;
}

.navbar-collapse h2{
    display: none;
}

.navbar-collapse i {
    display: none;
}

.navbar-collapse.show i {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-collapse hr {
    display: none;
}

.navbar-collapse.show hr {
    display: block;
    margin-top: 2rem;
    border-top: 0.005rem solid #264653;
    width: 55vw;
}

/*** Side-menu toggler and mask ***/

.mask{
    position:fixed;
    z-index:3;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    cursor:pointer;
    background-color: rgb(38, 70, 83, 0.45);
    border-color: transparent !important;

}

.navbar-toggler{
    -webkit-transition: background 0.1s ease;
    -moz-transition: background 0.1s ease;
    -o-transition: background 0.1s ease;
    transition: background 0.1s ease;
    border-color: transparent !important;
}


.mask .navbar-toggler-icon{
    display: none;
}

/*** dogs square ***/

.dog-container-content .card-body{
    display: flex;
    justify-content: center;
}

.dog-container-content .card-title{
    margin-bottom: 0;
}

.dog-container-content{
    background-color: rgba(87,151,178,0.35);
}

.dog-container.expanded{
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px){
    .dog-container.expanded img{
        position: relative;
        bottom: 0;
        left: 0;
        width: 40%;
        height: 100%;
        border-bottom-left-radius: calc(.25rem - 1px);
        border-top-right-radius: 0;
    }
}

@media (min-width: 1024px){
    .dog-container.expanded img{
        position: relative;
        bottom: 0;
        left: 0;
        width: 33%;
        height: 100%;
        border-bottom-left-radius: calc(.25rem - 1px);
        border-top-right-radius: 0;
    }
}
/* 
On small device, the img doesn't take the full height if we impose a width or is distorted if we doesn't impose a height 
So different display format
*/
.dog-container.expanded img{
    position: relative;
    bottom: 0;
    left: 0;
    height: 100%;
    border-bottom-left-radius: calc(.25rem - 1px);
    border-top-right-radius: 0;
}

.dog-container.expanded .card-body{
    position: relative;
    top: 0;
    width: 60%;
    background-color: #5797B2;
    color: white;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
}

.dog-container.expanded .card-body .col:nth-child(2){
    display: block;
}

.dog-container .card-body .col:nth-child(2){
    display: none;
}

.dog-container .card-body p{
    margin-top: 1rem;
    display: none;
}

.dog-container .card-body p.card-text{
    font-size: 1.04rem;
}


.dog-container.expanded .card-body .col> *:not(div){
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
}


.dog-container.expanded .card-body .col .wise_nose_id{
    position: absolute;
    top: 0;
    right: -0.5rem;
}

.dog-container .card-body .col> *:not(div){
    text-align: center;
}

.dog-container{
    -webkit-transition: flex 0.1s ease;
    -moz-transition: flex 0.1s ease;
    -o-transition: flex 0.1s ease;
    transition: flex 0.1s ease;
}

/*** FAB ***/

.fab-material{
    display: flex;
    justify-content: center;
    position: fixed;
    color: white;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.fab-material i{
    align-self: center;
}

/** circle action button **/

.action-buttons-dogs{
    position: absolute;
    bottom: 0;
    right: 1rem;
}

.action-buttons-sessions{
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    flex-direction: row;
}

.action-buttons-members{
    position: absolute;
    align-self: center;
}

.action-button{
    display: flex;
    margin: 0.25rem;
    justify-content: center;
    color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.action-button i{
    align-self: center;
}

/*** members square ***/

.member-container .card:hover .card-body{
    height: 100%;
    text-align: center;
}

.member-container .card:hover .card-title{
    position: absolute;
    bottom: 0;
    justify-self: center;
    padding: 0.5rem;
}

.member-container .card img{
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}

.member-container .card:hover .action-buttons-members{
    display: flex;
}

.member-container .card .action-buttons-members{
    display: none;
}

.member-container .card-body {
    display: flex;
    justify-content: center;
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    padding: 0.5rem;
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.25rem 0.25rem calc(.25rem - 1px) calc(.25rem - 1px);
}

.member-container .card-title{
    position: absolute;
    top: 0;
    margin-bottom: 0;
}

.member-container p.card-text{
    margin-bottom: 0;
}

.member-container .row.content{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    margin-bottom: 0;
    bottom: 0;
    font-size: 0.75rem;
}

/** Account page **/

.account{
    padding-top: 5rem;
}

.account .row{
    justify-content: center;
}

.account .row:nth-child(2){
    margin-bottom: 5rem;
    text-align: center;
}

.account h1{
    font-weight: bold;
}

.account-info-container{
    padding: 0;
}

.account-info-container .list-group{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0 ;
}

.account-info-container .list-group-item{
    border: 0;
}

.account-info-container .col-md-8{
    min-height: 20rem;
    border-top: 1px solid rgba(0,0,0,.125);
}
@media (min-width: 768px){
    .account-info-container .list-group{
        border-radius: calc(.25rem - 1px) 0 0 calc(.25rem - 1px);
    }
    
    .account-info-container .col-md-8{
        border: 0;
        border-left: 1px solid rgba(0,0,0,.125);
    }
}

.account-info-container .list-group-item.active{
    background-color: #2A9D8F;
}

.btn.action-user{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.card-title.username{
    margin: 0;
}

/** User page and also used in accessrequests **/


.user{
    padding-top: 5rem;
}

.user .row h1{
    font-weight: bold;
}

.user .row{
    justify-content: center;
}

.user .row:nth-child(2){
    margin-bottom: 5rem;
    text-align: center;
}

.user-info-container{
    padding: 0;
}

.user-info-container .card-body{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.user-info-container .list-group-item{
    border: 0;
    color: white;
    text-decoration: none;
}

.user-info-container .list-group{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0 ;
    text-align: center;
}

.user-info-container .col-md-8{
    border-top: 1px solid rgba(0,0,0,.125);
}

@media (min-width: 768px){
    .user-info-container .list-group{
        border-radius: calc(.25rem - 1px) 0 0 calc(.25rem - 1px);
    }
    
    .user-info-container .col-md-8{
        border: 0;
        border-left: 1px solid rgba(0,0,0,.125);
    }
}

/** Access requests page **/

.access-request .list-group{
    height: 100%;
}

.access-request .list-group-item{
    height: 50%;
}

/** sessions page **/

.sessions-tabs .nav-link.active{
    background-color: #264653;
}

.sessions-tabs .nav-link{
    color: #404040;
}

.session-container .card{
    color: white;
}

.session{
    justify-content: center;
}

.session-container .date{
    padding: 1.25rem;
    text-align: center;
}

.session-container .date-format{
    padding-top: 0.75rem;
}

.session-container .time-location-format{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 991px){
    .container{
        width: 100vw;
        max-width: 100vw;
    }

    .session{
        width: 100vw;
        max-width: 100vw;
    }

    .session .col-10{
        margin-top: 3rem;
    }
    .sessions-tabs{
        position: fixed;
        top: 4.5rem;
        z-index: 5;
        margin-top: -1rem;
        padding: 0;
        margin-bottom: 2rem;
    }

    .sessions-tabs .nav{
        flex-direction: row !important;
        text-align: center;
    }

    .sessions-tabs .nav-link{
        width: 50vw;
        border-radius: 0;
        background-color: #264653;
        color: white;
        border: 0;
    }

    .sessions-tabs .nav-link.active{
        border-bottom: 0.2rem solid white;
    }
    
    .pictures{
        display: none;
    }

    .action-buttons-sessions{
        margin: 0;
        position: static;
        justify-content: flex-end;
    }
}
@media(min-width:768px){
    .pictures{
        display: flex;
    }
    .action-buttons-sessions{
        position: absolute;
    }
}

@media(min-width: 992px){
    .container.\/sessions{
        position: sticky;
        top: 4.5rem;
    }

    .session .col-10{
        overflow-y: scroll;
    }
}

/** circle member/dog picture **/

.picture{
    display: flex;
    margin: 0.25rem;
    justify-content: center;
    color: white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

img.picture{
    align-self: center;
    object-fit: cover;
}