  
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="user">
  <div class="row">
    <h1>Access requests</h1>
  </div>
  <div class="row">
    <p class="text-muted">People asking to have access to the application.</p>
  </div>
  <div class="row row-cols-1 row-cols-md-2 align-items-stretch">
    {% for request in requests %}
      <div class="mb-4 col">
        <div class="card user-info-container access-request">
          <div class="row no-gutters">
            <div class="col-md-5">
              <div class="list-group">
                <a href="{{ url_for('create_user', contact_id=request.id) }}" class="list-group-item bg-primary">Create User</a>
                <a href="{{ url_for('deny_request', contact_id=request.id) }}" class="list-group-item bg-danger">Deny request</a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                  <h5 class="card-title username">{{ request.username }}</h5>
                  <p class="card-text"><small class="text-muted">Name: {{request.name}}</small></p>
                <p class="card-text">Organization:<span class="font-italic"> {{ request.organization }}</span></p>
                <p class="card-text">Message:<span class="font-italic"> {{ request.message }}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}