{% extends 'base.html' %}

{% block head %}
<title>Dogs</title>
{% endblock %}

{% block body %}
<label for="dog-name">Dog name
    <input type="text" id="dog-name" placeholder="Dog name" class="form-control form-control-lg" value={{search_data.name}}>
</label>
<label for="age">Age
    <input type="text" id="age" placeholder="Age" style="width: 80px" class="form-control form-control-lg" value={{search_data.age}}>
</label>
<label for="wise-nose-id">Wise Nose ID
    <input type="text" id="wise-nose-id" placeholder="Wise Nose ID" class="form-control form-control-lg" value={{search_data.id}}>
</label>
<label for="trainer-name">Trainer name
    <select id="trainer-name" class="form-control form-control-lg">
        <option hidden selected value={{search_data.trainer}}>{{search_data.trainer}}</option>
        {% for trainer in trainers %}
            <option>{{ trainer.name }}</option>
        {% endfor %}
    </select>
</label>
<a type="button" onclick="handleSearchDog('/dogs')" class="btn btn-outline-info search-button">Search</a>
<br><br>

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 align-items-stretch">
    {% for dog in dogs %}
        <div class="col mb-4 dog-container">
            <div class="card dog-container-content">
                <div class="row no-gutters">
                    <img src="{{ url_for('static', filename='images/' + dog.photo) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="col">
                            <p><u>Name:</u><p>
                            <h5 class="card-title">{{ dog.name }}</h5>
                            <p><u>Age:</u><p>
                            <p class="card-text">{{ dog.age }}</p>
                        </div>
                        <div class="col">
                            <p><u>Trainer:</u><p>
                            <p class="card-text">{{dog.trainer.name}}</p>
                            <div class="wise_nose_id">ID: {{ dog.wise_nose_id }}</div>
                            {% if current_user.admin %}
                                <div class="row action-buttons-dogs">
                                    <a href="{{ url_for('edit_dog', id=dog.id) }}" class="btn action-button bg-contrast-blue"><i class="fas fa-pen fa-lg"></i></a>
                                    <button type"button" class="btn action-button bg-contrast-blue" data-toggle="modal" data-target="#staticBackdrop{{dog.id}}"><i class="fas fa-trash fa-lg"></i></button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    {% endfor %}
</div>
<a href="{{ url_for('add_dog') }}" class="fab-material bg-deep-blue btn"><i class="fas fa-plus fa-lg"></i></a>
{% endblock %}

{% block modal %}
{% for dog in dogs %}
    <div class="modal fade" id="staticBackdrop{{dog.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete this dog ?</h5>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a type="button" href="{{ url_for('delete_dog', id=dog.id) }}" class="btn btn-primary">Yes</a>
            </div>
            </div>
        </div>
    </div>         
{% endfor%}

<script>
    window.addEventListener('do_search', function (e) {
            fetch("/dogs", {
                method: "POST",
                body: e.detail
            })
            .then((response) => {
                console.log(response);
                if (response.url) {
                    window.location.href = response.url;
                }
            })
    }, false);
</script>
{% endblock %}