{% extends 'base.html' %}

{% block head %}
<title>Wise Nose | Dogs</title>
{% endblock %}

{% block body %}
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 align-items-stretch">
    <div class="col mb-4 dog-container">
        <div class="card dog-container-content">
            <div class="row no-gutters">
                <img src="{{ url_for('static', filename='images/dog_try.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">TEST</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 dog-container">
        <div class="card dog-container-content">
            <div class="row no-gutters">
                <img src="{{ url_for('static', filename='images/dog_try.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">TEST</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 dog-container">
        <div class="card dog-container-content">
            <div class="row no-gutters">
                <img src="{{ url_for('static', filename='images/dog_try.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">TEST</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 dog-container">
        <div class="card dog-container-content">
            <div class="row no-gutters">
                <img src="{{ url_for('static', filename='images/dog_try.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">TEST</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 dog-container">
        <div class="card dog-container-content">
            <div class="row no-gutters">
                <img src="{{ url_for('static', filename='images/dog_try.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">TEST</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 dog-container">
        <div class="card dog-container-content">
            <div class="row no-gutters">
                <img src="{{ url_for('static', filename='images/dog_try.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">TEST</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 dog-container">
        <div class="card dog-container-content">
            <div class="row no-gutters">
                <img src="{{ url_for('static', filename='images/dog_try.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">TEST</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4 dog-container">
        <div class="card dog-container-content">
            <div class="row no-gutters">
                <img src="{{ url_for('static', filename='images/dog_try.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="col">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">TEST</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab-material bg-deep-blue"><i class="fas fa-plus fa-lg"></i></div>
{% endblock %}