{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}

<div class="container">
	<label for="person_name">Member name
		<input type="text" id="person_name" placeholder="Member name" class="form-control form-control-lg" value={{search_data.name}}>
	</label>
	<label for="role">Role
<!--		<select id="role" class="form-control form-control-lg">-->
<!--			<option hidden selected value={{search_data.role}}>{{search_data.role}}</option>-->
<!--			{% for trainer in trainers %}-->
<!--				<option>{{ trainer.name }}</option>-->
<!--			{% endfor %}-->
<!--		</select>-->
    	<input type="text" id="role" placeholder="Role" class="form-control form-control-lg" value={{search_data.role}}>
	</label>
	<label for="wise-nose-id">Wise Nose ID
    	<input type="text" id="wise-nose-id" placeholder="Wise Nose ID" class="form-control form-control-lg" value={{search_data.id}}>
	</label>

	<br>
	<a type="button" onclick="handleSearchMember()" class="btn btn-outline-info">Get search results</a>
	<br><br>

	<table>
		<tr>
			<th>Name</th>
			<th>Role</th>
			<th>Wise Nose ID</th>
		</tr>
			{% for member in members %}
			<tr>
				<td>{{ member.name }}</td>
				<td>{{ member.role }}</td>
				<td>{{ member.wise_nose_id }}</td>
			</tr>
			{% endfor %}
	</table>

	<br>
	<a type="button" onclick="downloadMemberData()" class="btn btn-primary">Download</a>
</div>
{% endblock %}