{% extends 'base.html' %}

{% block head %}
<title>Members</title>
{% endblock %}

{% block body %}
<label for="person_name">Member name
    <input type="text" id="person_name" placeholder="Member name" class="form-control form-control-lg" value={{search_data.name}}>
</label>
<label for="role">Role
<!--		<select id="role" class="form-control form-control-lg">-->
<!--			<option hidden selected value={{search_data.role}}>{{search_data.role}}</option>-->
<!--			{% for trainer in trainers %}-->
<!--				<option>{{ trainer.name }}</option>-->
<!--			{% endfor %}-->
<!--		</select>-->
    <input type="text" id="role" placeholder="Role" class="form-control form-control-lg" value={{search_data.role}}>
</label>
<label for="wise-nose-id">Wise Nose ID
    <input type="text" id="wise-nose-id" placeholder="Wise Nose ID" class="form-control form-control-lg" value={{search_data.id}}>
</label>

<a type="button" onclick="handleSearchMember('/members')" class="btn btn-outline-info search-button">Search</a>
<br><br>


  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 align-items-stretch">
    {% for member in members %}
      <div class="col mb-4 member-container">
        <div class="card">
          <img src="{{ url_for('static', filename='images/' + member.photo) }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ member.name }}</h5></br>
            <div class="row content">
              <p class="card-text">{{ member.role }} - ID : {{ member.wise_nose_id }}</p>
            </div>
            {% if current_user.admin %}
              <div class="action-buttons-members">
                <a href="{{ url_for('edit_member', id=member.id) }}" class="btn action-button bg-contrast-white"><i class="fas fa-pen fa-lg"></i></a>
                <button type"button" class="btn action-button bg-contrast-white" data-toggle="modal" data-target="#staticBackdrop{{member.id}}"><i class="fas fa-trash fa-lg"></i></button>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a href="{{ url_for('add_member') }}" class="fab-material bg-deep-blue btn"><i class="fas fa-plus fa-lg"></i></a>
{% endblock %}

{% block modal %}
{% for member in members %}
<div class="modal fade" id="staticBackdrop{{member.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Delete this member ?</h5>
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete it?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <a type="button" href="{{ url_for('delete_member', id=member.id) }}" class="btn btn-primary">Yes</a>
        </div>
        </div>
    </div>
</div>         
{% endfor%}
{% endblock %}