{% extends 'base.html' %}

{% block head %}
<title>Modify Session</title>
{% endblock %}

{% block body %}
<div class="user">
    <div class="row">
      <h1>Modify Session</h1>
    </div>
    <div class="row">
      <p class="text-muted">Update the session properties.</p>
    </div>
    <div class="row">
        <div class="card mb-3 col-10 session-info-container" >
          <div class="row no-gutters">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-previous-list" data-toggle="list" href="#list-previous" role="tab" aria-controls="previous"><i class="fas fa-arrow-left fa-lg"></i></a>
              <a class="list-group-item list-group-item-action" id="list-next-list" data-toggle="list" href="#list-next" role="tab" aria-controls="next"><i class="fas fa-arrow-right fa-lg"></i></a>
            </div>
            <div class="col-md-10 session-form">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-previous" role="tabpanel" aria-labelledby="list-previous-list">
                <form method="POST" action="">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                    {{ form.date.label }}
                    {{form.date(class="form-control form-control-lg", placeholder="e.g. 26/03/2021 14:12")}}
                  </div>
                  <div class="form-group">
                    {{form.dog.label}}
                    {{form.dog(class="form-control form-control-lg")}}
                  </div>
                  <div class="form-group">
                    {{form.trainer.label}}
                    {{form.trainer(class="form-control form-control-lg")}}
                  </div>
                  <div class="form-group">
                    {{form.supervisor.label}}
                    {{form.supervisor(class="form-control form-control-lg")}}
                  </div>
                  <div class="form-group">
                    {{form.number_of_samples.label}}
                    {{form.number_of_samples(class="form-control form-control-lg", id="number_of_samples", value=0)}}
                  </div>
                </form>
              </div>
              <div class="tab-pane fade" id="list-next" role="tabpanel" aria-labelledby="list-next-list">
                <div class="row sample-container">
                  <div class="samples">
                    <!-- fill with jquery -->
                  </div>
                </div>
                <div class="form-group submit">
                  <button class="btn btn-outline-primary" id="save">Save session</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
