{% extends 'base.html' %}

{% block head %}
<title>Session {{session.id}}</title>
{% endblock %}

{% block body %}
<div class="user execute">
    <div class="row">
      <h1>Execute Session</h1>
    </div>
    <div class="row">
      <p class="text-muted">Mark the dog interest in samples.</p>
    </div>
    <div class="row sample-container execute">
        <div class="samples">
            {% for i in range(1, session.number_of_samples+1) %}
                <div class='sample'>
                    <p>{{i}}</p>
                    <div class="outlined">
                        <div class='sample-box bg-not-hot'></div>
                        <div class='sample-box add'><i class='fas fa-plus fa-lg'></i></div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
</div>
<div class="popup">
    <div class="row">
        <div class="col-10 col-md-6 col-lg-4">
            <label class="sr-only" for="inlineFormInputGroup">Order</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <button class="input-group-text">-</button>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Order">
              <div class="input-group-append">
                <button class="input-group-text">+</button>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='sample'>
            <div class='sample-box bg-not-hot not-outlined'><p>No</p></div>
        </div>
        <div class='sample'>
            <div class='sample-box bg-interested not-outlined'><p>Interested</p></div>
        </div>
        <div class='sample'>
            <div class='sample-box bg-maybe not-outlined'><p>Maybe</p></div>
        </div>
        <div class='sample'>
            <div class='sample-box bg-hot not-outlined'><p>Yes</p></div>
        </div>
    </div>
</div>
{% endblock %}
