{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="user">
    <div class="row">
      <h1>Users</h1>
    </div>
    <div class="row">
      <p class="text-muted">Update users and set their preferences.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-2 align-items-stretch">
      {% for user in users %}
        <div class="mb-4 col">
          <div class="card user-info-container">
            <div class="row no-gutters">
              <div class="col-md-5">
                <div class="list-group">
                  <a href="{{ url_for('change_pw', user_id=user.id) }}" class="list-group-item bg-primary">Reset password</a>
                  <a href="{{ url_for('delete_user', user_id=user.id) }}" class="list-group-item bg-danger">Delete user</a>
                  <a href="{{ url_for('toggle_admin', user_id=user.id) }}" class="list-group-item bg-secondary">Toggle admin</a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  {% if user.name != none %}
                    <h5 class="card-title username">{{ user.username }}</h5>
                    <p class="card-text"><small class="text-muted">Name: {{user.name}}</small></p>
                  {% else %}
                    <h5 class="card-title">{{ user.username }}</h5>
                  {% endif %}
                  <p class="card-text">Organization:<span class="font-italic"> {{ user.organization }}</span></p>
                  <p class="card-text">Admin:<span class="font-italic"> {{ user.admin }}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}